body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: #fff;
}

header {
  background-color: rgba(15, 32, 39, 0.9);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  color: #ff9a00;
}

section {
  padding: 40px;
}

h2 {
  color: #ff9a00;
}

.project {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.project h3 {
  color: #ff9a00;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 20px;
  font-weight: bold;
  color: #ff9a00;
}

form input,
form textarea {
  padding: 15px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f4f4f4;
  color: #333;
}

button {
  margin-top: 20px;
  padding: 15px;
  background-color: #ff9a00;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #cc7a00;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(15, 32, 39, 0.9);
  color: #fff;
}

/* Gradient Animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
